Repository Citadel-Station-13/Citadel-Station-13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deathride58, @LetterJay, @Poojawa, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev

Fixes robots appearing as deactivated at round end (#37804)
  code/__HELPERS/roundend.dm
Owners: none

Merge pull request #37809 from Qbopper/secskirts
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/modules/clothing/under/jobs/security.dm
  icons/mob/uniform.dmi
  icons/obj/clothing/uniforms.dmi
Owners: @ShizCalev

Merge pull request #37816 from YPOQ/bikehornfix
  code/game/objects/items/clown_items.dm
Owners: none

Make admin heals also max out mood
  code/modules/mob/living/living.dm
Owners: none

Adds swapping disks to the plantmanipulator (#37765)
  code/modules/hydroponics/gene_modder.dm
Owners: none

Log dchat to the individual say log for a mob (#37789)
  code/modules/mob/say.dm
Owners: none

Replaces adding goliath plates to clothing and APLUs with a customizable tracking component (#37525)
  code/datums/components/armor_plate.dm
  code/game/mecha/working/ripley.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/mining/equipment/explorer_gear.dm
  code/modules/mining/equipment/goliath_hide.dm
  tgstation.dme
Owners: @Cyberboss

Marginally to Mildly Improves Vending Machine, Burger, and Donut sprites. (#37794)
  code/modules/food_and_drinks/food/customizables.dm
  icons/obj/food/burgerbread.dmi
  icons/obj/food/food.dmi
  icons/obj/vending.dmi
Owners: @ShizCalev

Update wallets.dm
  code/game/objects/items/storage/wallets.dm
Owners: none

Update preferences.dm
  code/modules/client/preferences.dm
Owners: none

Update syndicate.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
Owners: none

Update database_changelog.txt
  SQL/database_changelog.txt
Owners: @MrStonedOne

Update subsystems.dm
  code/__DEFINES/subsystems.dm
Owners: none

Update preferences.dm
  code/modules/client/preferences.dm
Owners: none

Merge pull request #37743 from AutomaticFrenzy/patch/meta-pipe
  _maps/map_files/MetaStation/MetaStation.dmm
Owners: @ShizCalev

trait => quirk
  modular_citadel/code/datums/traits/neutral.dm
Owners: @deathride58

Merge pull request #37818 from AutomaticFrenzy/patch/missing-icons
  _maps/map_files/OmegaStation/OmegaStation.dmm
  code/game/machinery/syndicatebeacon.dm
  code/game/objects/effects/decals/cleanable.dm
  code/game/objects/effects/forcefields.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/devices/PDA/PDA_types.dm
  code/game/objects/items/toys.dm
  code/game/objects/structures/aliens.dm
  code/game/objects/structures/crates_lockers/closets/secure/supplypod.dm
  code/modules/antagonists/clockcult/clock_items/judicial_visor.dm
  code/modules/antagonists/slaughter/slaughter.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  code/modules/mob/living/simple_animal/bot/honkbot.dm
  code/modules/projectiles/guns/misc/beam_rifle.dm
  code/modules/projectiles/projectile/special/curse.dm
  icons/obj/objects.dmi
  icons/obj/smooth_structures/clockwork_window.dmi
  icons/obj/smooth_structures/sandbags.dmi
  icons/turf/areas.dmi
Owners: @ShizCalev

Merge pull request #37824 from DaxDupont/hud-icon
  icons/mob/hud.dmi
Owners: @ShizCalev

Merge pull request #37810 from 81Denton/techweb-electronics
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Owners: none

Replaces loose tech storage boards with spawners
  _maps/map_files/BoxStation/BoxStation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/PubbyStation/PubbyStation.dmm
  code/game/objects/effects/spawners/lootdrop.dm
  code/modules/vending/engivend.dm
  config/admins.txt
Owners: @ShizCalev

Merge pull request #37851 from AutomaticFrenzy/patch/jquery-tooltips-2
  code/modules/client/asset_cache.dm
  code/modules/tooltip/tooltip.dm
Owners: none

Emag QoL and addition of emag recharging
  modular_citadel/code/game/objects/ids.dm
  modular_citadel/code/modules/uplink/uplink_items.dm
Owners: @Poojawa, @deathride58

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

#deathride58
/modular_citadel/ @deathride58

#LetterJay 
/modular_citadel/code/modules/client/loadout/__donator.dm @LetterJay 

#Poojawa

<<<<<<< HEAD
/modular_citadel/code/modules/vore @Poojawa
/code/game/objects/items/devices/dogborg_sleeper.dm @Poojawa
/modular_citadel/code/modules/mob/living/silicon/robot/dogborg_equipment.dm @Poojawa
/tgui/ @Poojawa
/modular_citadel/code/modules/clothing/spacesuits/flightsuit.dm @Poojawa
/modular_citadel/code/game/objects/ids.dm @Poojawa
/sound/vore @Poojawa
=======
/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
>>>>>>> 183936d... F
