Repository Citadel-Station-13/Citadel-Station-13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deathride58, @LetterJay, @Poojawa, @Cyberboss, @duncathan, @Jordie0608, @MrStonedOne, @ninjanomnom, @ShizCalev

Update armor.dm
  code/modules/clothing/suits/armor.dm
Owners: none

Update admins.txt
  config/admins.txt
Owners: none

Update preferences.dm
  code/modules/client/preferences.dm
Owners: none

Update game_options.txt
  config/game_options.txt
Owners: none

Merge pull request #37771 from nichlas0010/patch-1
  code/modules/admin/verbs/deadsay.dm
Owners: none

Merge pull request #37774 from KorPhaeron/pixel
  icons/mob/uniform.dmi
Owners: @ShizCalev

Fixed stacks sometimes having the wrong amount if created on another stack
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/washing_machine.dm
  code/game/mecha/equipment/tools/other_tools.dm
  code/game/mecha/equipment/tools/work_tools.dm
  code/game/objects/items/apc_frame.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/light.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/ai_core.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/antagonists/swarmer/swarmer.dm
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
  code/modules/hydroponics/biogenerator.dm
  code/modules/hydroponics/grown/grass_carpet.dm
  code/modules/mining/machine_redemption.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/power/port_gen.dm
  code/modules/power/solar.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/research/xenobiology/crossbreeding/charged.dm
  code/modules/research/xenobiology/crossbreeding/industrial.dm
Owners: none

Fixes morphs (#37772)
  code/modules/antagonists/morph/morph.dm
Owners: none

family heirlooms properly open the bag upon spawning if they're in the bag (#37754)
  code/datums/traits/negative.dm
Owners: none

Fix spelling in mime forcefield description (#37742)
  code/game/objects/effects/forcefields.dm
Owners: none

Makes the redirect component able to transfer with changeturfs (#37697)
  code/__DEFINES/components.dm
  code/datums/components/signal_redirect.dm
Owners: @Cyberboss

Fixes large crates acting like lockers (#37707)
  code/game/objects/structures/crates_lockers/crates/large.dm
Owners: none

Fixes Bedbuckling to avoid Floor is Lava (#37752)
  code/datums/weather/weather_types/floor_is_lava.dm
Owners: none

Adds desc to chemmaster circ board (#37797)
  code/game/objects/items/circuitboards/machine_circuitboards.dm
Owners: none

Adds wizard randomname (#37801)
  strings/names/wizardfirst.txt
  strings/names/wizardsecond.txt
Owners: none

Runtime: fixes RTG power, adjusts pipenet, adds debug chem dispensers
  _maps/map_files/debug/runtimestation.dmm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/machinery/chem_synthesizer.dm
  code/modules/reagents/chemistry/reagents.dm
  tgstation.dme
  tgui/src/interfaces/chem_synthesizer.ract
Owners: @ShizCalev, @Poojawa

Makes gauze deconstructable into cloth
  code/game/objects/items/stacks/medical.dm
Owners: none

Fixes possession funtime (#37737)
  code/modules/admin/verbs/adminjump.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/dummy.dm
Owners: none

Update negative.dm
  code/datums/traits/negative.dm
Owners: none

Linked teleporters now teleport to the hub instead of the power station (#37684)
  code/game/machinery/computer/teleporter.dm
  code/game/machinery/teleporter.dm
Owners: none

Add plasma rein glass to the ORM & adjusts material values on the various glass sheets (#37464)
  code/game/objects/items/stacks/sheets/glass.dm
  code/modules/research/designs/smelting_designs.dm
Owners: none

Fixes defibs/watertanks/gatling lasers (#37792)
  code/game/objects/items/defib.dm
  code/game/objects/items/tanks/watertank.dm
  code/modules/projectiles/guns/ballistic/laser_gatling.dm
Owners: none

labcat thingy
  icons/mob/custom_w.dmi
  icons/obj/custom.dmi
  modular_citadel/code/modules/client/loadout/__donator.dm
  modular_citadel/code/modules/custom_loadout/custom_items.dm
Owners: @ShizCalev, @LetterJay, @deathride58

Update custom_items.dm
  modular_citadel/code/modules/custom_loadout/custom_items.dm
Owners: @deathride58

Update __donator.dm
  modular_citadel/code/modules/client/loadout/__donator.dm
Owners: @LetterJay

Update custom_items.dm
  modular_citadel/code/modules/custom_loadout/custom_items.dm
Owners: @deathride58

Quirk limit now only applies to positive quirks
  code/modules/client/preferences.dm
Owners: none

Update chat_commands.dm
  code/modules/admin/chat_commands.dm
Owners: none

Update drinks_recipes.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Owners: none

Update alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Owners: none

Update drinks_recipes.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
Owners: none

Update drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
Owners: none

Update boozeomat.dm
  code/modules/vending/boozeomat.dm
Owners: none

Update flags.dm
  code/__DEFINES/flags.dm
Owners: none

Update obj_flags.dm
  code/__DEFINES/obj_flags.dm
Owners: none

Update bitfields.dm
  code/_globalvars/bitfields.dm
Owners: none

Update bombspawner.dm
  code/game/objects/effects/spawners/bombspawner.dm
Owners: none

Update smokebomb.dm
  code/game/objects/items/grenades/smokebomb.dm
Owners: none

Update medical.dm
  code/game/objects/items/stacks/medical.dm
Owners: none

Buckled/held cultists cant be teleport summoned (#37805)
  code/modules/antagonists/cult/runes.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

#deathride58
/modular_citadel/ @deathride58

#LetterJay 
/modular_citadel/code/modules/client/loadout/__donator.dm @LetterJay 

#Poojawa

<<<<<<< HEAD
/modular_citadel/code/modules/vore @Poojawa
/code/game/objects/items/devices/dogborg_sleeper.dm @Poojawa
/modular_citadel/code/modules/mob/living/silicon/robot/dogborg_equipment.dm @Poojawa
/tgui/ @Poojawa
/modular_citadel/code/modules/clothing/spacesuits/flightsuit.dm @Poojawa
/modular_citadel/code/game/objects/ids.dm @Poojawa
/sound/vore @Poojawa
=======
/code/__DATASTRUCTURES/globals.dm @Cyberboss
/code/__DEFINES/components.dm @Cyberboss
/code/__DEFINES/server_tools.config.dm @Cyberboss
/code/__DEFINES/server_tools.dm @Cyberboss
/code/controllers/subsystem/atoms.dm @Cyberboss
/code/controllers/subsystem/mapping.dm @Cyberboss
/code/controllers/globals.dm @Cyberboss
/code/datums/helper_datums/getrev.dm @Cyberboss
/code/datums/components/ @Cyberboss
/code/datums/map_config.dm @Cyberboss
/code/datums/forced_movement.dm @Cyberboss
/code/datums/holocall.dm @Cyberboss
/code/modules/admin/verbs/adminhelp.dm @Cyberboss
/code/modules/admin/verbs/adminpm.dm @Cyberboss
/code/modules/server_tools/ @Cyberboss
/code/modules/mapping/ @Cyberboss

# duncathan

/code/__DEFINES/atmospherics.dm @duncathan
/code/modules/atmospherics/ @duncathan

# Jordie0608

/SQL/ @Jordie0608
/code/controllers/subsystem/dbcore.dm @Jordie0608
/tools/SQLAlertEmail/ @Jordie0608

# MrStonedOne

/SQL/database_changelog.txt @MrStonedOne
/code/__DEFINES/MC.dm @MrStonedOne
/code/__DEFINES/tick.dm @MrStonedOne
/code/controllers/admin.dm @MrStonedOne
/code/controllers/master.dm @MrStonedOne
/code/controllers/failsafe.dm @MrStonedOne
/code/controllers/subsystem.dm @MrStonedOne
/code/controllers/subsystem/timer.dm @MrStonedOne

# ninjanomnom

/code/controllers/subsystem/shuttle.dm @ninjanomnom
/code/modules/shuttle/ @ninjanomnom

# ShizCalev

/_maps/ @ShizCalev
/icons/ @ShizCalev
/sound/ @ShizCalev

# Multiple Owners

/code/controllers/subsystem/air.dm @duncathan @MrStonedOne
>>>>>>> 183936d... F
