Repository Citadel-Station-13/Citadel-Station-13, changes with the owners that .github/CODEOWNERS names for each.
All owners: @deathride58, @LetterJay, @Poojawa

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

#deathride58
/modular_citadel/ @deathride58
/code/citadel/ @deathride58

#LetterJay 
/modular_citadel/code/modules/client/loadout/__donator.dm @LetterJay 

#Poojawa

/code/modules/vore @Poojawa
/code/citadel/dogborgstuff.dmm @Poojawa
/tgui/ @Poojawa
/modular_citadel/code/modules/clothing/spacesuits/flightsuit.dm @Poojawa
/modular_citadel/code/game/objects/ids.dm @Poojawa
/sound/vore @Poojawa

Update __donator.dm
  modular_citadel/code/modules/client/loadout/__donator.dm
Owners: @LetterJay

Buffs door security. (#5574)
  modular_citadel/code/datums/wires/airlock.dm
  tgstation.dme
Owners: @deathride58

Slippery Ice Fix (#35770)
  code/game/turfs/simulated/floor/plating/misc_plating.dm
Owners: none

Update recipes_egg.dm (#35769)
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
Owners: none

reduces base rnd point generation rate to 1,200 points per minute (#5558)
  modular_citadel/code/controllers/subsystem/research.dm
  tgstation.dme
Owners: @deathride58

Automatic changelog generation for PR #5558 [ci skip]
  html/changelogs/AutoChangeLog-pr-5558.yml
Owners: none

makes lighting a little fancier (#5576)
  modular_citadel/code/game/objects/items/devices/flashlight.dm
  modular_citadel/code/modules/power/lighting.dm
  tgstation.dme
Owners: @deathride58

Automatic changelog generation for PR #5576 [ci skip]
  html/changelogs/AutoChangeLog-pr-5576.yml
Owners: none

Gives mineral storage access to those who need it (#5478)
  modular_citadel/code/modules/jobs/job_types/cargo_service.dm
  modular_citadel/code/modules/jobs/job_types/engineering.dm
  tgstation.dme
Owners: @deathride58

Automatic changelog generation for PR #5478 [ci skip]
  html/changelogs/AutoChangeLog-pr-5478.yml
Owners: none

Sake! (#5538)
  code/citadel/cit_reagents.dm
  code/citadel/icons/drinks.dmi
  code/game/machinery/vending.dm
  code/modules/food_and_drinks/drinks/drinks.dm
  icons/obj/drinks.dmi
Owners: @deathride58

Automatic changelog generation for PR #5538 [ci skip]
  html/changelogs/AutoChangeLog-pr-5538.yml
Owners: none

[MIRROR] Fixes invincible blobs and blob nodes producing tiles after its death (#5580)
  code/modules/antagonists/blob/blob/blobs/node.dm
  code/modules/antagonists/blob/blob/theblob.dm
Owners: none

Automatic changelog generation for PR #5580 [ci skip]
  html/changelogs/AutoChangeLog-pr-5580.yml
Owners: none

Blood Red Tie - Donator Loadout (#5579)
  code/citadel/custom_loadout/custom_items.dm
  icons/mob/custom_w.dmi
  icons/obj/custom.dmi
  modular_citadel/code/modules/client/loadout/__donator.dm
Owners: @deathride58, @LetterJay
