Repository Citadel-Station-13/Citadel-Station-13, pull requests merged in 2023-11, with the labels that each got.

#15835 Update to the lifebringer lavaland ruin by Xennith.
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
Labels: Map Edit, Tweak

#15580 Syndicate Skinned Box Station
  _maps/map_files/SyndicateStation/SyndicateBoxStation.dmm
  _maps/syndicatestation.dm
  _maps/syndicatestation.json
  code/modules/projectiles/gun.dm
  config/maps.txt
  tgstation.dme
Labels: Map Edit, Config Update, Mechanic

#15841 Some dynamic midround tweaking
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/wizard/wizard.dm
Labels: Fix, Tweak, Mechanic

#16033 Oops
  tgstation.dme
Labels: Fix, Priority: High

#16028 Minor power_change optimization (updated)
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
  code/modules/power/power.dm
Labels: Code Improvement
